#hack-menu {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 8px;
    width: fit-content;
    margin: 10px auto;
}
input[type="checkbox"] {
    opacity: .8;
}